

/* Stili per il pulsante Richiedi Info */
.product-info-request-button {
    margin-top: 20px; /* Distanza tra i pulsanti */
    text-align: center; /* Centra il pulsante */
}

.btn-info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Fondo nero */
    color: #000; /* Testo bianco */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px; /* Raggio del bordo */
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 1px solid #000; /* Bordo nero */;
}

.btn-info:hover {
    background-color: #333; /* Colore al passaggio del mouse */
    color: #fff; /* Testo al passaggio del mouse */;
}

.btn-info i {
    margin-right: 8px; /* Spazio tra l'icona e il testo */
}
.btn-info span {
    margin-bottom: 2.5px;
}
/* Se vuoi personalizzare ulteriormente l'icona */
.fas.fa-envelope {
    font-size: 16px;
}


[class="btn-wh btn"] {
--bs-btn-color: #fff;
--bs-btn-bg: #843635;
--bs-btn-border-color: #843635;
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #702e2d;
--bs-btn-hover-border-color: #6a2b2a;
--bs-btn-focus-shadow-rgb: 150, 84, 83;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #6a2b2a;
--bs-btn-active-border-color: #632928;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #fff;
--bs-btn-disabled-bg: #843635;
--bs-btn-disabled-border-color: #843635;
--bs-btn-padding-x: 0.75rem;
--bs-btn-padding-y: 0.375rem;
--bs-btn-font-family: ;
--bs-btn-font-weight: 400;
--bs-btn-line-height: 1.5;
--bs-btn-border-width: var(--bs-border-width);
--bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
--bs-btn-disabled-opacity: 0.65;
--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
display: inline-block;
padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
font-family: var(--bs-btn-font-family);
font-size: var(--bs-btn-font-size);
font-weight: var(--bs-btn-font-weight);
line-height: var(--bs-btn-line-height);
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
user-select: none;
border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
border-radius: var(--rad-m);
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-secondary {
    color: #fff!important;
}

.btn-outline-dark {
    background-color: #fff;
}
.btn-outline-secondary:hover {
    color: #fff!important;
}
@media (max-width: 991px) {
    .btn-iscrizioni-formazione {
        width: 100% !important;
        margin-left: 0!important;
        left: 0;
        //margin-bottom: -70px;
    }
    //.row-iscrizioni-formazione {
    //    margin-bottom: 100px;
    //}
}
