// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.

$primary: #379975;
$secondary: #E57552;

// Fonts
$font-family-sans-serif: 'Montserrat', sans-serif;