@use 'sliderHome.scss' as sliderHome;


:root {
    --swiper-pagination-bullet-inactive-color: #afafaf;
    --swiper-pagination-bullet-inactive-opacity: 0.8;
    --swiper-pagination-bullet-size: 20px;

    --swiper-pagination-bullet-width: 35px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-color: #E57552;
    --swiper-navigation-color: #E57552;
    --wp--preset--color--primary: #38E58C!important;
    --wp--preset--color--primary-hover: #1cc76f!important;

    --background: #F0F0F0;
    --background-dark: #373737;
    --primary: #379975;
    --primary-hover: #127c55;
    --secondary: #e57552;
    --secondary-hover: #ea9175;

    --rad-m: 20px;
    --rad-s: 10px;

    /* bootcore */
    --bs-btn-border-radius: 20px!important;

    
  }

  /* class bg */
  .bg-background {
    background-color: var(--background);
 }
  .bg-background-dark {
    background-color: var(--background-dark);
 }

 .rad-img img {
    border-radius: var(--rad-m);
}


.full-width-section {
  position: relative;
  left: 50%;
  width: calc(100% + 20px);
  margin-left: -10px;
  background-color: #f8f9fa;
}




// TODO DA SPOSTARE

#wsf-1-fields-1 {
  border: 1px solid var(--bs-border-color-translucent);
  background-color: #F8F9FA;
  padding: 8px;
  border-radius: 10px;
    .btn.btn-block.btn-primary {
    background-color: #E57552!important;
    color: #fff!important;
  }
  font-size: 13px;
}

.btn-primary {
  color: #fff!important;
}