/* Excerpt limited to 4 lines */
.excerpt-4-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  max-height: calc(1.4em * 4); /* fallback for browsers that don't support line-clamp */
}

.grid-box-formazione {
    .card-body {
        background-color: var(--bs-card-cap-bg);
    }

}

// scss per pagination formazione wpgb
.wpgb-facet-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wpgb-facet-5 .wpgb-pagination:first-child a {
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
}

.wpgb-facet-5 .wpgb-pagination li a[aria-current] {
    z-index: 3;
    color: var(--bs-pagination-active-color)!important;
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
}
.wpgb-facet-5 a {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.term-104 .wpgb-facet.wpgb-facet-6 {
  display: none;
}